<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel=stylesheet type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.min.js"></script> 
        {% load static %}
        <script src="{% static "moment.js" %}"></script>
        <style>
            body {
                background-color: #00205B;
                min-height: 100vw;
                font-family: 'Work Sans', sans-serif;
            }
            .ct-label {
                color: #f5f5f5;
            }
            .ct-grid {
                stroke: #f5f5f5;
            }

            p {
                
            }

            .is-hovered:hover {
                color: #d70206;
            }
        </style>
    </head>
    <body>
        <div class="container is-widescreen">
            <section id="top" class="section">
                <div class="columns">
                    <div id="nav" class="column is-one-third pt-4">
                        <div class="columns is-flex is-vcentered nav-col">
                            <svg width="5" height="83" viewBox="0 0 5 83" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                                    <rect width="5" height="83" fill="white"/>
                            </svg>   
                            <div class="column">
                                <a href="#" class="is-flex has-text-white-ter">
                                    Sentiment Scores
                                </a>
                                <a href="#" class="is-flex has-text-white-ter">
                                    Methodology
                                </a>
                                <a href="#" class="is-flex has-text-white-ter">
                                    Comparison
                                </a>
                                <a href="#" class="is-flex has-text-white-ter">
                                    About
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="title" class="column has-text-right nav-col">
                        <div class="is-size-1 has-text-weight-bold title has-text-white-ter">
                            DON'T FEEL BLUE, JET BLUE
                        </div>
                        <div class="subtitle has-text-white-ter">
                            WHAT AIRLINE DO PEOPLE PREFER?
                        </div>
                    </div>
                </div>
            </section>
    
            <section id="scorecards" class="section">
                {% for airline in airlineInfoList %}
                    <div class='card is-flex-desktop' style="border-radius: 1.25rem; overflow: hidden;">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ airline.imageURL }}" class="is-flex" style="align-items: stretch;" />
                            </figure>
                            <img src="https://cldup.com/deRUCl_0QD-2000x2000.png" style="position: absolute; bottom: 12px; left: 60px; width: 15rem;" />
                        </div>
                        <div class="card-content">
                            <h2 class="has-text-weight-bold is-size-2 has-text-centered">{{ airline.name }}</h2>
                            <div>

                            </div>
                            <table class="table is-striped" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>Cost</td>
                                        <td class="has-text-right">{{ airline.CostScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Hidden Fees</td>
                                        <td class="has-text-right">{{ airline.HiddenFeesScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Baggage Fees</td>
                                        <td class="has-text-right">{{ airline.BaggageFeesScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Travel Rewards</td>
                                        <td class="has-text-right">{{ airline.TravelRewardsScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reimbursement</td>
                                        <td class="has-text-right">{{ airline.ReimbursementScore }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table is-striped" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>Timeliness</td>
                                        <td class="has-text-right">{{ airline.TimeScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Availability</td>
                                        <td class="has-text-right">{{ airline.AvailabilityScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Integration w/ Other Airlines</td>
                                        <td class="has-text-right">{{ airline.ConnectionsScore }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table is-striped" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>Leg Room</td>
                                        <td class="has-text-right">{{ airline.LegroomScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Food and Entertainment</td>
                                        <td class="has-text-right">{{ airline.FoodEntertainmentScore }}</td>
                                    </tr>
                                    <tr>
                                        <td>Service</td>
                                        <td class="has-text-right">{{ airline.ServiceScore }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table is-striped" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>Family Options &nbsp;&nbsp;&nbsp;</td>
                                        <td class="has-text-right">{{ airline.FamilyOptionsScore }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                {% endfor %}
            </section>
    
            <section id="charts" class="section">
                <h3 class="has-text-centered has-text-white-ter is-size-2 column">Overall Scores</h3>
                <div class="ct-chart ct-golden-section" id="chart0"></div>
                <div class="level level-title">
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Cost</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Hidden Fees</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Baggage Fees</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Travel Rewards</h3>
                </div>
                <div class="level">               
                    <div class="ct-chart ct-golden-section column" id="chart1"></div>
                    <div class="ct-chart ct-golden-section column" id="chart2"></div>
                    <div class="ct-chart ct-golden-section column" id="chart3"></div>
                    <div class="ct-chart ct-golden-section column" id="chart4"></div>
                </div>
                <div class="level level-title">
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Reimbursements</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Timeliness</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Availability</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Airline Integration</h3>
                </div>
                <div class="level">
                    <div class="ct-chart ct-golden-section" id="chart5"></div>                    
                    <div class="ct-chart ct-golden-section" id="chart6"></div>
                    <div class="ct-chart ct-golden-section" id="chart7"></div>
                    <div class="ct-chart ct-golden-section" id="chart8"></div>
                </div>
                <div class="level level-title">
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Leg Room</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Food and Entertainment</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Service</h3>
                    <h3 class="has-text-centered has-text-white-ter is-size-4 column">Family Options</h3>
                </div>
                <div class="level">
                    <div class="ct-chart ct-golden-section" id="chart9"></div>
                    <div class="ct-chart ct-golden-section" id="chart10"></div>
                    <div class="ct-chart ct-golden-section" id="chart11"></div>
                    <div class="ct-chart ct-golden-section" id="chart12"></div>
                </div>
            </section>
    
            <section id="methodology" class="section has-text-white-ter">
                <h2 class="is-size-2">Methodology</h2>
                <div class="is-size-5">
                    <p class="">
                        In the midst of the coronavirus pandemic, we were curious to see how airline perception was faring. Perception and sentiment towards brands plays a large role in spending decisions.
                    </p>
                    <p>
                        We decided to mine twitter for sentiment related to major airlines. We chose to segment our analysis by the different categories that people found important for air travel. These categories were compiled from survey data via Google Forms. We then created weights for an overall score using <a href="https://www.statista.com/statistics/682161/important-factors-flight-purchase-us-travel/" class="is-hovered">Statista</a>. The sentiment model used is Stanford's <a href="https://deepai.org/machine-learning-model/sentiment-analysis" class="is-hovered">DeepAI model</a>. As an alternative, you can download the pytorch model we trained <a href="https://www.dropbox.com/s/8kzixo72ymoaw5v/export.pkl?dl=0" class="is-hovered">here</a>.
                    </p>
                    <p>
                        We proceeded to create cron jobs to continuously mine twitter for sentiment related to these categories in order to observe variance over time. We stored the scores we found, adjusted and averaged over tweets collected.
                    </p>
                </div>
            </section>
    
            <section id="comparison" class="section">
    
            </section>
    
            <section id="credits" class="section">
    
            </section>
        </div>
        <script>
            /* overall scores*/
            new Chartist.Line('#chart0', {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.OverallTweetsDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ],
                plugins: [
                    Chartist.plugins.legend(),
                ],
            });

            new Chartist.Line("#chart1", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.CostDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart2", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.HiddenFeesDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart3", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.BaggageFeesDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart4", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.TravelRewardsDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart5", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.ReimbursementDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart6", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.TimeDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart7", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.AvailabilityDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart8", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.ConnectionsDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart9", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.LegroomDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart10", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.FoodEntertainmentDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart11", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.ServiceDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })

            new Chartist.Line("#chart12", {
                series: [
                    {% for airline in airlineInfoList %}
                        {
                            name: '{{ airline.name }}',
                            data: [
                                {% for p, d in airline.FamilyOptionsDict.items %}
                                    {x: "{{ p }}", y: "{{ d }}" },
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            })
        </script>   
    </body>
</html>