<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leg Room Tweets</title>
    <style>
      table {
        table-layout: fixed ;
        width: 100% ;
        border: 1px solid white;
      }
      td {
        width: 50% ;
        border: 1px solid white;
      }
      h2 {
        color: white;
      }
      p.prediction {
        font-size: 50px;
        color: white;
      }
    </style>
  </head>
  <body style="background-color:#00205B;">
    <center>
    <h2>{{ title }} Leg Room Tweets</h2>
    <table>
    {% for legroomTweet in legroomTweets %}
      <tr>
        <td>
          <center>
            <p class="prediction">{{ legroomTweet.prediction_level }}</p>
          </center>
        </td>
        <td>
          <center>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">
            <a href="{{ legroomTweet.link }}"></a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </center>
        </td>
      </tr>        
    {% endfor %}
    </table>
    </center>
  </body>
</html>
