<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Negative Timeliness Tweets</title>
  </head>
  <body style="background-color:#f5f2d0;">
    <center>
    <h2>{{ title }} Timeliness Tweets</h2>
    {% for timeTweet in timeTweets %}
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">
        <a href="{{ timeTweet.link }}"></a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
    {% endfor %}
    </center>
  </body>
</html>
