<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Availability Tweets</title>
  </head>
  <body style="background-color:#f5f2d0;">
    <center>
    <h2>Availability Tweets</h2>
      {% for availableTweet in availableTweets %}
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">
        <a href="{{ availableTweet.link }}"></a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
      {% endfor %}
    </center>
  </body>
</html>
