<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cost</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="row pt-4">
      <div class="col-sm-6">
        <a href="index.html" class="generic-btn">
          <img src="back_arrow.png" alt="back" width="30" height="30">
        </a>
      </div>
      <div class="col-sm-6">
        <h2>Cost</h2>
      </div>
    </div>

  </body>
</html>
