{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Don't be blue, Jet Blue!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script type="text/javascript" src="{% static 'wordcloud2.js' %}"></script>
    <script type="text/javascript">
      const list = [['Cost', 25], ['Leg room', 12], ['Timeliness', 20], ['Safety', 14], ['Family options', 15],
    ['Social consciousness', 10], ['Baggage fees', 18], ['Hidden fees', 15], ['Availability', 15],
    ['Travel rewards', 15], ['Integration', 10], ["Customer service", 22], ["Reimbursement", 14]];
    </script>
    <style>
      h2 {
        text-align:center
      }
    </style>
  </head>
  <body>
    <header>
      <div class="center">
        <h2>Jet Blue Satisfaction</h2>
      </div>
    </header>
    <main>
      <div class="split left">
        <div class="centered">
          <canvas id="good_canvas" width="700" height="500"></canvas>
          <script type="text/javascript">
            WordCloud(document.getElementById('good_canvas'),
            { list: list, minRotation: 0, maxRotation: 0, weightFactor: 2.25, drawOutOfBound:true,
              ellipticity: 1,
              hover: function(item) {

              },
              click: function(item) {
                window.location.href=`${item[0].toLowerCase().replace(/\s/g,'')}.html`
            }});
          </script>
        </div>
      </div>

      <div class="split right">
        <div class="centered">
          <canvas id="bad_canvas" width="700" height="500"></canvas>
          <script type="text/javascript">
            WordCloud(document.getElementById('bad_canvas'),
            { list: list, minRotation: 0, maxRotation: 0, weightFactor: 2.25, drawOutOfBound:true,
              ellipticity: 1,
              hover: function(item) {
              },
              click: function(item) {
                window.location.href=`${item[0].toLowerCase().replace(/\s/g,'')}.html`
            }} );
          </script>
        </div>
      </div>
    </main>
    {% for timeTweet in timeTweets %}
        <p >{{ timeTweet.tweet }}</p>
        <p >{{ timeTweet.result }}</p>
    {% endfor %}

    <footer>

    </footer>
  </body>
</html>
